*.pyc
*.pickle
*.pth
log*
__pycache__
slurm*
.vscode
test*
pr_results
checkpoints*
runs*
positive*
modules*
models/pipelines/.ipynb_checkpoints/
.ipynb_checkpoints/
evaluation/pr_curves/
checking.py
Wild-Places/result/
